@model MTDotNetCore.MvcChartApp.Models.ChartJs.ExampleBarChartModel

<h3>
    <a href="https://www.chartjs.org/docs/latest/getting-started/">ChartJs - Getting Started</a>
</h3>


<div>
    <canvas id="myChart"></canvas>
</div>

@section scripts
{
    <script>
        const ctx = document.getElementById('myChart');

        const Label = @Html.Raw(JsonConvert.SerializeObject(Model.Label));
        const LabelList = @Html.Raw(JsonConvert.SerializeObject(Model.LabelList));
        const Data = @Html.Raw(JsonConvert.SerializeObject(Model.Data));

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: LabelList,
                datasets: [{
                    label: Label,
                    data: Data,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}