@model MTDotNetCore.MvcApp2.Models.BlogModel

<h2>Blog Edit</h2>

<form action="/Blog/Update/@Model.BlogId" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="BlogTitle" value="@Model.BlogTitle"/>
    </div>
    <div class="mb-3">
        <label class ="form-label">Author</label>
        <input type="text" class="form-control" name="BlogAuthor" value="@Model.BlogAuthor" />
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea class="form-control" rows="3" name="BlogContent">@Model.BlogContent</textarea>
    </div>

    <a href="/Blog/Index" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-success">Update</button>
</form>