<h2>Create a New Blog</h2>

<form action="/Blog/Save" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" name="BlogTitle" />
    </div>
    <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" class="form-control" name="BlogAuthor" />
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea class="form-control" rows="3" name="BlogContent"></textarea>
    </div>
    <a href="/Blog/Index" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-success">Save</button>
</form>