@{
	var jsonReceived = ViewBag.receivedJson;
}

<div id="chartContainer" style="height: 370px; width: 100%;"></div>

@section scripts
{
	<script>
		var ReceivedDataPoints = @Html.Raw(jsonReceived);

		window.onload = function () {

			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				title: {
					text: "Daily Email Analysis"
				},
				axisX: {
					valueFormatString: "DDD",
					minimum: new Date(2017, 1, 5, 23),
					maximum: new Date(2017, 1, 12, 1)
				},
				axisY: {
					title: "Number of Messages"
				},
				legend: {
					verticalAlign: "top",
					horizontalAlign: "right",
					dockInsidePlotArea: true
				},
				toolTip: {
					shared: true
				},
				data: [{
					name: "Received",
					showInLegend: true,
					legendMarkerType: "square",
					type: "area",
					color: "rgba(40,175,101,0.6)",
					markerSize: 0,
					dataPoints: ReceivedDataPoints
					.map(dp => ({
						x: new Date(dp.x),
						y: dp.y,
					}))
				},
				{
					name: "Sent",
					showInLegend: true,
					legendMarkerType: "square",
					type: "area",
					color: "rgba(0,75,141,0.7)",
					markerSize: 0,
					dataPoints: [
						{ x: new Date(2017, 1, 6), y: 42 },
						{ x: new Date(2017, 1, 7), y: 34 },
						{ x: new Date(2017, 1, 8), y: 29 },
						{ x: new Date(2017, 1, 9), y: 42 },
						{ x: new Date(2017, 1, 10), y: 53 },
						{ x: new Date(2017, 1, 11), y: 15 },
						{ x: new Date(2017, 1, 12), y: 12 }
					]
				}]
			});
			chart.render();

		}

    </script>
}