@page "/blog"
@inject HttpClient httpClient

<PageTitle>Blog List</PageTitle>

<h3>BlogList</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        var response = await httpClient.GetAsync("api/blog");
        if (response.IsSuccessStatusCode)
        {
            string jsonStr = await response.Content.ReadAsStringAsync();
            Console.WriteLine(jsonStr);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            
        }
    }
}
